/* Color */
@primary-color: #f16622;
@sub-color: #424456;

@body-bg-color: #fafbfe; // body背景色
@page-bg-color: transparent; // 内页背景色
@header-bg-color: #fff; // 顶栏背景色
@siderbar-bg-color: #313a46; // 边栏背景色

/* Font */
@font-color-primary: #212121;
@font-color-secondary: #616161;
@font-color-tips: #9e9e9e;

@font-size-base: 14px;
@font-size-small: 12px;
@font-size-large: 16px;

@font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;;
@line-height-base: 1.5;
@line-height-computed: floor((@font-size-base * @line-height-base));

/* Spacing */
@spacing-base: 10px;
@spacing-small: 5px;
@spacing-large: 20px;

/* Border */
@border-base-color: #dcdee2;
@border-light-color: #e5e5e5;
@border-divider-color: #e8eaec;

@border-radius-base: 10px;
@border-radius-small: 2px;
@border-radius-larger: 50%;

/* Animation */
@animation-time: .3s;
@transition-time: .3s;

/* SearchPanel */
@search-panel-bg-color: #f8f8f8;