@import "./common.less";

/**
 * HTML Element Reset
 */
html,
body {
  width: 100%;
  height: 100%;
  background-color: @body-bg-color;
  font-family: @font-family;
  overflow: hidden;

}

/**
 * iView UI Reset
 */
.ivu-input {
  border-radius: @border-radius-small;
  border-color: @border-base-color;
}
.ivu-btn {
  border-radius: @border-radius-small;
  &-default {
    color: @font-color-secondary;
    border-color: @border-base-color;
  }
}
.ivu-btn-text:focus {
  box-shadow: none !important;
}

.ivu-modal {
  &-content {
    padding: @spacing-large;
    border-radius: @border-radius-small;
  }
  &-header {
    padding: 0;
    border-bottom: none;
  }
  &-footer {
    padding: 0 18px;
    border-top: none;
  }
}

.ivu-menu-light {
  background-color: transparent !important;
}
.ivu-menu-vertical.ivu-menu-light:after {
  width: 0 !important;
}
.ivu-menu-item {
  color: @font-color-secondary !important;
  &-selected {
    color: @font-color-secondary !important;
    font-weight: bold;
    background-color: #fff !important;
    border-color: @border-divider-color;
    &:after {
      background-color: transparent !important;
    }
  }
}

/* Custom */
.pager {
  text-align: right;
  padding: @spacing-base;
  padding-bottom: 0;
}
